ul li {
  list-style: none;
}
ul {
  margin: 10px 0 30px;
  padding: 0;
}
ul li {
  margin: 10px 0 0;
  padding: 5px;
  overflow: hidden;
  border-bottom: 1px dashed #cccccc;
}
ul li i {
  display: block;
  padding-top: 8px;
}
ul li .date {
  font-size: 0.9em;
  font-weight: bold;
}
ul li div.listening_now {
  margin-top: 2px;
}
ul li div.listening_now img {
  margin: 6px 5px 0 0;
  float: left;
}
ul li img.cover {
  margin: 3px 10px 0 0;
  float: left;
  width: 34px;
  height: 34px;
}
